*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
.vs/
tools
!tools/packages.config
# User-specific files
*.suo
*.user
*.sln.docstates
*.swp
.gitignore~
..gitignore.un~
